.auth {
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("http://localhost:4201/assets/login-bg.svg");
  background-size: 100% 100%;

  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 505px;
    max-width: 80%;

    &-btn {
      cursor: pointer;
      margin-top: 80px;
      width: 300px;
      min-height: 40px;
      background-color: #fff;
      color: #870a3c;
      border-radius: 5px;
      font-size: 15px;
      border: none;
      &:hover {
        color: #fa622f;
      }
    }
  }
}
